<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DBConnect</servlet-name>
        <servlet-class>database.DBConnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginController</servlet-name>
        <servlet-class>shiftController.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpReqController</servlet-name>
        <servlet-class>shiftController.EmpReqController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpLeaveController</servlet-name>
        <servlet-class>shiftController.EmpLeaveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpFinController</servlet-name>
        <servlet-class>shiftController.EmpFinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MgrFinSelController</servlet-name>
        <servlet-class>shiftController.MgrFinSelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MgrSalController</servlet-name>
        <servlet-class>shiftController.MgrSalController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MgrSelController</servlet-name>
        <servlet-class>shiftController.MgrSelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MgrViewController</servlet-name>
        <servlet-class>shiftController.MgrViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MgrApproveController</servlet-name>
        <servlet-class>shiftController.MgrApproveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MgrEmpDataController</servlet-name>
        <servlet-class>shiftController.MgrEmpDataController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransportCabController</servlet-name>
        <servlet-class>shiftController.TransportCabController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmViewController</servlet-name>
        <servlet-class>shiftController.AdmViewController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adm_ApproveController</servlet-name>
        <servlet-class>shiftController.Adm_ApproveController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBConnect</servlet-name>
        <url-pattern>/DBConnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginController</servlet-name>
        <url-pattern>/loginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpReqController</servlet-name>
        <url-pattern>/EmpReqController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpLeaveController</servlet-name>
        <url-pattern>/EmpLeaveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpFinController</servlet-name>
        <url-pattern>/EmpFinController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MgrFinSelController</servlet-name>
        <url-pattern>/MgrFinSelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MgrSalController</servlet-name>
        <url-pattern>/MgrSalController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MgrSelController</servlet-name>
        <url-pattern>/MgrSelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MgrViewController</servlet-name>
        <url-pattern>/MgrViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MgrApproveController</servlet-name>
        <url-pattern>/MgrApproveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MgrEmpDataController</servlet-name>
        <url-pattern>/MgrEmpDataController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransportCabController</servlet-name>
        <url-pattern>/TransportCabController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmViewController</servlet-name>
        <url-pattern>/AdmViewController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adm_ApproveController</servlet-name>
        <url-pattern>/Adm_ApproveController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
